In [1]:
# Q1
st="AYUSH"
list=[1,2,"ayush kumar"]
fl=12.25
tuple=(1,2,3,"Ayush Kumar","pw skils")

In [2]:
# Q2

In [3]:
var1 = ' '
# String

In [4]:
type(var1)

str

In [5]:
var2 = '[ DS , ML , Python]'
# String

In [6]:
type(var2)

str

In [7]:
var3 = [ 'DS' , 'ML' , 'Python']
# list

In [8]:
type(var3)

list

In [9]:
var4 = 1.
# float

In [10]:
type(var4)

float

In [11]:
20/9

2.2222222222222223

In [12]:
20%7

6

In [13]:
45//7

6

In [14]:
2**3

8

In [15]:
list=[1,34.6,'ayush kumar',False,45,'pwskills',36+69j,90.87,89+56j,True]
for i in list :
    print(i)
    print(type(i))

1
<class 'int'>
34.6
<class 'float'>
ayush kumar
<class 'str'>
False
<class 'bool'>
45
<class 'int'>
pwskills
<class 'str'>
(36+69j)
<class 'complex'>
90.87
<class 'float'>
(89+56j)
<class 'complex'>
True
<class 'bool'>

In [16]:
A=14
B = 2
count = 0
while B <= A :
    if A%B==0:
        A/=B
        count+=1
    else :
        break

if count ==0:
    print("A is not divisible B:")
else:
    print("A is divisible B:")
    print(count)

A is divisible B:
1

In [22]:
list1=range(1,26)
for i in list1:
    if i%3==0:
        print(i,"\t",": Divisible by 3")
    else:
        print(i,"\t",": Not divisible by 3")

1 	 : Not divisible by 3
2 	 : Not divisible by 3
3 	 : Divisible by 3
4 	 : Not divisible by 3
5 	 : Not divisible by 3
6 	 : Divisible by 3
7 	 : Not divisible by 3
8 	 : Not divisible by 3
9 	 : Divisible by 3
10 	 : Not divisible by 3
11 	 : Not divisible by 3
12 	 : Divisible by 3
13 	 : Not divisible by 3
14 	 : Not divisible by 3
15 	 : Divisible by 3
16 	 : Not divisible by 3
17 	 : Not divisible by 3
18 	 : Divisible by 3
19 	 : Not divisible by 3
20 	 : Not divisible by 3
21 	 : Divisible by 3
22 	 : Not divisible by 3
23 	 : Not divisible by 3
24 	 : Divisible by 3
25 	 : Not divisible by 3

In [23]:
list2=[1,29+69j,3.25,4,"PWS",67]
n="Ayush"

In [24]:
list2[3]='ayush'

In [25]:
list2

[1, (29+69j), 3.25, 'ayush', 'PWS', 67]

In [26]:
n[3]='k'

TypeError: 'str' object does not support item assignment