In [1]:
# Q.1

l=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
l1=sorted(l, key = lambda x : x[1],reverse=False)
print(l1)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [2]:
# Q.2

l=[1,2,3,4,5,6,7,8,9,10]
sq=lambda n: n*n
for i in l:
    print(sq(i))

1
4
9
16
25
36
49
64
81
100

In [3]:
# Q.3

l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
tuple(map(lambda x : str(x) , l))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [4]:
# Q.4

from functools import  reduce

l=[]
n=25
for i in range(1,n+1):
    l.append(i)
print(l)
reduce(lambda x ,y : x*y , l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

15511210043330985984000000

In [5]:
# Q.5

l=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
filt=filter(lambda x : x%6==0 , l)
for i in filt:
    print(i)

6
60
90
120

In [6]:
# Q.6

def rev(s):
    st=""
    for i in s:
        st=i+st
    return st
    
l=['python', 'php', 'aba', 'radar', 'level']
for i in list(filter(lambda x:rev(x)==x,l)):
    print(i)

php
aba
radar
level